/*
    Hoja de estilos del acceso rápido
*/

.new-quick-access{
    align-self: stretch;
}
.right_header {
    width: 100%;
    height: auto;
    align-self: stretch;
    border-left: solid 1px #c7c0bd;
}

.tab-quick-access {
    overflow: hidden;
    background-color: #e7e5e3;
    font-family: Arial;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.58px;
    margin-bottom: 8px;
}

.tab-quick-access button {
    width: 132px;
    height: 25px;
    background-color: #dcdcdc;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

#tab_pe {
    color: #106eb0;
}

#tab_24h {
    color: #ec7000;
}
/*add abrir cuenta*/
#tab_cd {
    color: #FFF;
    background-color: #ec7000;
}

#access-responsive-width .btn-secondary {
    background-color: #FFF !important;
    font-size: 1rem !important;
    border: 1px solid #106eb0;
    color: #106eb0;
}

    #access-responsive-width .btn-secondary:hover {
        background-color: #ecf4f9 !important;
    }
/*add abrir cuenta*/
.tab-quick-access button:hover {
    background-color: #ddd;
}

.tab-quick-access button.active {
    background-color: #f0f0f0;
}

.right_header .tab-quick-access-content {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/*Custom Radio Button*/

#operad-pe-radio-btn, #admin-pe-radio-btn {
    margin-left: 0px;
    margin-top: 8px;
}

.radio-btn-pe-access{
     font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    display: block;
    cursor: pointer;
    padding: 8px 9px 12px 20px; 
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #464646;
}
.container-access-header {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    display: block;
    position: relative;
    cursor: pointer;
    padding: 8px 9px 12px 20px; 
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #464646;
}

.container-access-header input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border: solid 1px #a8a8a8;
    border-radius: 50%;
}

.container-access-header:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-access-header input:checked ~ .checkmark {
    background-color: #4e93c3;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.container-access-header input:checked ~ .checkmark:after {
    display: block;
}

.container-access-header .checkmark:after {
    top: 4px;
    left: 4px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: white;
}
/*Custom input text*/

.div_input_ruc {
    max-width: 24%;
}

.div_input_ci {
    max-width: 19%;
    padding-left: 2px;
    padding-right: 2px;
}

/*---------ingresar PE button----------*/
#vprocesar_pe {
    border: 1px solid #0c1459;
    font-size: .8rem;
    font-weight: 700;
    padding: 0.16rem 0.8rem 0.16rem 0.8rem;
    background: linear-gradient(to bottom, #3fa4eb, #1781be 47%, #3342c4 52%, #17259c);
    /* W3C */
    background: -moz-linear-gradient(top, #3fa4eb, #1781be 47%, #3342c4 52%, #17259c);
    background: -webkit-linear-gradient(top, #3fa4eb, #1781be 47%, #3342c4 52%, #17259c);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa4eb', endColorstr='#17259c',GradientType=0 );
    -webkit-box-shadow: 0px 1px 3px 0px #9B9A99;
    -moz-box-shadow: 0px 1px 3px 0px #9B9A99;
    box-shadow: 0px 1px 3px 0px #9B9A99;
    text-shadow: -1px -1px 0px #141e7a;

}

#lock_pe{
    width: 18px;
    height: 16px;
    opacity: 0.56;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
    font-family: 'itaufonts_master_24px_v1';
    font-size: 16px;
    font-stretch: normal;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    color: #ffffff;
}

#ingresar_pe{
    width: 55px;
    height: 15px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.35);
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    color: #ffffff;
}

#vprocesar_pe:hover {
    background: #F4BF5D;
    background: linear-gradient(to bottom, #3fa4eb, #1781be 47%, #3342c4 52%, #17259c);
    background: -moz-linear-gradient(top, #3fa4eb, #1781be 47%, #3342c4 52%, #17259c);
    background: -webkit-linear-gradient(top, #3fa4eb, #1781be 47%, #3342c4 52%, #17259c);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fa4eb', endColorstr='#17259c',GradientType=0 );
    -webkit-box-shadow: 0px 1px 3px 0px #495057;
    -moz-box-shadow: 0px 1px 3px 0px #495057;
    box-shadow: 0px 1px 3px 0px #495057;
}

#vprocesar_pe:focus{
   -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset, 0 0 5px rgb(35, 165, 255, 0.8);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset, 0 0 5px rgba(35, 165, 255, 0.8);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset, 0 0 5px rgba(35, 165, 255, 0.8);
}

#vprocesar_pe:active {
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 165, 95, 0.8);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 165, 95, 0.8);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 165, 95, 0.8);
}
.form-control-pe {
    display: block;
    width: 100%;
    padding: 0.253rem 0.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #adb5bd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-pe:focus {
    border-color: #4e93c3;
    outline: 0;
    border: 1px solid #4e93c3;
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset, 0 0 5px rgb(35, 165, 255, 0.8);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset, 0 0 5px rgba(35, 165, 255, 0.8);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) inset, 0 0 5px rgba(35, 165, 255, 0.8);
}

 #pe-option-access-responsive{
        display: none;
    }

/*Fade in tabs*/
@-webkit-keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (max-width: 992px) {
    #pe-option-access-responsive{
        display: block;
    }

    #access-responsive-width{
        width: 25% !important;
    }

    .div-radiobutton{
        height: calc(2.52344rem + 2px);
        padding: 0.5rem 1rem;
        width:50%;
        display:none;
    }

    #tab_pe{
        width:200%;
        height:200%;
    }

    .container-access-header {
    font-family: Arial;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.28px;
    display: block;
    position: relative;
    cursor: pointer;
    padding: 7px 9px 9px 27px; 
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #464646;
    }

    .container-access-header input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 7px;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #ffffff;
        border: solid 1px #a8a8a8;
        border-radius: 50%;
    }

    .container-access-header:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .container-access-header input:checked ~ .checkmark {
        background-color: #4e93c3;
    }

    .checkmark:after {
        content: '';
        position: absolute;
        display: none;
    }

    .container-access-header input:checked ~ .checkmark:after {
        display: block;
    }

    .container-access-header .checkmark:after {
        top: 5px;
        left: 5px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: white;
    }

    #lock_pe, #ingresar_pe{
        font-size: 1.25rem;
    }

    .tab-quick-access {
        display: none;
    }

}

.div-radiobutton{
    display:none;
}
